@media print {
 @page {
 size: auto;
 margin: 20px;
}
a[href]:after {
	content: none !important;
}
header, .prev-article, .next-article{
	display: none !important;
}
.front_big_post .big_thumb a img{
left: 0;
}
.front_big_post .big_thumb a{
	max-height: 200px;
    min-height: 200px;
}
.front_big_post .big_thumb .image_copyright{
	text-align: center;
	padding: 0;
	margin-top: 20px;
}



footer .footer_links ul li:nth-child(even),
footer .footer_links ul li:nth-child(odd){
	float:none;
	width:100%;
}

.front_big_post .big_thumb .image_copyright{
	position:relative;
	display: block;
}
footer .col-sm-3 {
    width: 25%;
	float: left;
}
}
